.grids {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 15px;
    padding-top: 25px;
}
.backgrounds {
    flex-direction: column;
    display: flex;
    height: 400px;
    background-color: white;
    border-radius: 7px;
}
@media (max-width:750px){
    .backgrounds {
        margin-right: 10px;
    }
    .Dashboard{
        margin-left: 20px;
    }
}
.ups  {
    height: 55%;
    width: 100%;
    display: flex;
    position: relative;
    
}
.big-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.small-img {
    border: 2px solid white;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    left: 4%;
    top: 5%;
    z-index: 5;
}
.mids {
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto,arial;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid rgb(224, 223, 223);
    height:35%;
   
}
.titles {
   margin-bottom: 10px;
}
.describe {
font-size: 13px;
color: rgb(139, 139, 139);
font-weight: 300;
line-height:20px;
}
.downs {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    position: relative;
}
.dollar {
    padding-right: 15px;
    color:#888 ;
    font-size: 13px;
}
.freind {
    padding-left: 15px;
    color: #888;
    font-size: 13px;
}
.button-course {
    background-color: #0075ff;
    padding: 4px 10px;
    font-size: 13px;
    color: white;
    border-radius: 6px;
    border: none;
    margin-bottom: 60px;
}